header img {
  height: 150px;
  width: auto;
  margin-bottom: 30px;
  animation: spinRight 3s linear infinite;
}

.Shout-h {
  text-align: center;
}

.Shout-h h1 {
  color: var(--colorTheme);
  font-size: 3rem;
  padding-bottom: 30px;
}

.Shout-h h2 {
  color: var(--colorTheme);
  font-size: 1.3rem;
  padding-bottom: 50px;
}


/* Animations */
@keyframes spinRight{
  100%{-webkit-transform: rotate(360deg);}
}
